fieldset {
  border: none;
}
.radiogroup {
  width: 100vw;
  box-sizing: border-box;
  padding: 1rem 16rem 2rem 16rem;
  display: flex;
  flex-direction: column;
}

.incident-app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem 16rem 2rem 16rem;
}

.incident-header {
  width: 100%;
  box-sizing: border-box;
  padding: 0rem 16rem 0rem 16rem;
}

.text-container {
  width: 96%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.text-area {
  max-width: 100%;
  min-height: 8rem;
  resize: none;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .incident-app-container {
    padding: 0rem 0rem 2rem 0rem;
    display: flex;
  }

  .radiogroup {
    padding: 0rem;
  }

  .incident-header {
    width: 100%;
    display: flex;
    padding: 0rem 0rem 0rem 1rem;
  }
  .text-container {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
  }
  .text-area {
    width: 100%;
  }
}

@media only screen and (min-width: 1536px) {
  .incident-app-container {
    padding: 1rem 24rem 2rem 24rem;
  }

  .radiogroup {
    padding: 0rem 24rem 0rem 24rem;
  }

  .incident-header {
    padding: 0rem 24rem 0rem 24rem;
  }
}
