.travel-insurance-container {
  height: 100%;
  width: 100%;
  background-color: #f8f9f9;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 14.5rem;
}

.travel-ins-header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px;
}

.ins-p {
  text-align: center;
  font-size: 1.3rem;
  color: #212121;
}

.ins-button {
  width: 200px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
  background-color: #2b2b2b;
  border: none;
  box-shadow: 0px 0px 2px 2px lightgray;
}

.ins-button:active {
  box-shadow: 0px 0px 0px 0px #fff;
}

@media only screen and (max-width: 500px) {
  .travel-insurance-container {
    width: 100vw;
    padding: 4rem 1rem 4rem 1rem;
  }
}
