.intv-header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px;
  box-sizing: border-box;
}

.intv-content {
  padding: 0 4rem 0 4rem;
}


@media only screen and (max-width: 500px) {
  .intv-content {
    width: 100vw;
    padding: 4rem 1rem 4rem 1rem;
    justify-content: center;
  }
}