.profile-logo {
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.static-header {
  text-decoration: none;
  color: #212121;
  cursor: default;
}

.static-header:hover {
  text-decoration: none;
}

.link {
  cursor: pointer;
}