.header {
  display: flex;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem 6rem 0.5rem 6rem;
  background-color: #fff;
  width: 100vw;
}

p {
  font-size: 1.2rem;
  line-height: 1.8em;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

section,
article {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.travel-topics {
  display: flex;
  flex-direction: column;
}



@media only screen and (max-width: 500px) {
  .header {
    box-sizing: border-box;
    padding: 0.2rem 2rem 0.2rem 2rem;
    display: flex;
    width: 100vw;
  }
}

@media only screen and (min-width: 1536px) {
  .header {
    box-sizing: border-box;
    padding: 0.2rem 15rem 0.2rem 15rem;
    display: flex;
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  section,
  article {
    box-sizing: border-box;
    padding: 0rem 2rem 0rem 2rem;
    width: 100vw;
  }
}

@media only screen and (min-width: 1536px) {
  section,
  article {
    box-sizing: border-box;
    padding: 4rem 15rem 4rem 15rem;
    width: 100vw;
  }
}
