.container-4o4 {
  box-sizing: border-box;
  padding: 1rem 8rem 0 8rem;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../../assets/4o4.gif");
}

.gr-container {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0 0 0.2rem 0.2rem #E8E8E8;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-found-msg {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 1rem;
  color: #696969;
}

.back-home-btn {
  box-sizing: border-box;
  height: 2.2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0.3rem 0.3rem #e8e8e8;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .container-4o4 {
    padding: 1rem;
  }
  .not-found-msg {
    width: 100%;
    height: fit-content;
  }
}
